@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  --retro-green: #1dea1f;
  font-family: "VT323", monospace;
}

body {
  background: #161616;
  color: var(--retro-green);
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  animation: textShadow 1.6s infinite;
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974011px 0 1px rgba(0, 30, 255, 0.5), -2.7928974011px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.0295627584px 0 1px rgba(0, 30, 255, 0.5), -0.0295627584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.4021853855px 0 1px rgba(0, 30, 255, 0.5), -0.4021853855px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.47940379px 0 1px rgba(0, 30, 255, 0.5), -3.47940379px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.8969140477px 0 1px rgba(0, 30, 255, 0.5), -3.8969140477px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.8709056148px 0 1px rgba(0, 30, 255, 0.5), -3.8709056148px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.2310569634px 0 1px rgba(0, 30, 255, 0.5), -2.2310569634px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.0808429042px 0 1px rgba(0, 30, 255, 0.5), -0.0808429042px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.2021930511px 0 1px rgba(0, 30, 255, 0.5), -2.2021930511px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780615px 0 1px rgba(0, 30, 255, 0.5), -2.8638780615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.4887402516px 0 1px rgba(0, 30, 255, 0.5), -0.4887402516px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491306px 0 1px rgba(0, 30, 255, 0.5), -1.8948491306px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.0976982726px 0 1px rgba(0, 30, 255, 0.5), -0.0976982726px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.4433397615px 0 1px rgba(0, 30, 255, 0.5), -3.4433397615px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838853px 0 1px rgba(0, 30, 255, 0.5), -2.1841838853px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764474px 0 1px rgba(0, 30, 255, 0.5), -2.6208764474px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}
body::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

body::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.cursor::after {
  position: relative;
  top: 2px;
  left: 2px;
  content: "";
  height: 1rem;
  width: 10px;
  background: var(--retro-green);
  display: inline-block;
  animation: 1s steps(2, jump-none) infinite blink;
}

.ui-column {
  flex-basis: 25%;
}
.ui-column li {
  list-style: none;
  font-size: 2rem;
}
.ui-column .about-me.typing::before {
  content: "​";
  content: "​"/"About Me";
  alt: "About Me";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 4.44s linear 1s 0 forwards, typed-0-final 0.8s linear 1s 1 forwards;
}
@keyframes typed-0-final {
  0%, 12.5% {
    content: "​A";
    content: "​A"/"About Me";
    alt: "About Me";
  }
  12.501%, 25% {
    content: "​Ab";
    content: "​Ab"/"About Me";
    alt: "About Me";
  }
  25.001%, 37.5% {
    content: "​Abo";
    content: "​Abo"/"About Me";
    alt: "About Me";
  }
  37.501%, 50% {
    content: "​Abou";
    content: "​Abou"/"About Me";
    alt: "About Me";
  }
  50.001%, 62.5% {
    content: "​About";
    content: "​About"/"About Me";
    alt: "About Me";
  }
  62.501%, 75% {
    content: "​About ";
    content: "​About "/"About Me";
    alt: "About Me";
  }
  75.001%, 87.5% {
    content: "​About M";
    content: "​About M"/"About Me";
    alt: "About Me";
  }
  87.501%, 100% {
    content: "​About Me";
    content: "​About Me"/"About Me";
    alt: "About Me";
  }
}
@keyframes typed-0 {
  0%, 2.2512522523% {
    content: "​A";
    content: "​A"/"About Me";
    alt: "About Me";
  }
  2.2522522523%, 4.5035045045% {
    content: "​Ab";
    content: "​Ab"/"About Me";
    alt: "About Me";
  }
  4.5045045045%, 6.7557567568% {
    content: "​Abo";
    content: "​Abo"/"About Me";
    alt: "About Me";
  }
  6.7567567568%, 9.008009009% {
    content: "​Abou";
    content: "​Abou"/"About Me";
    alt: "About Me";
  }
  9.009009009%, 11.2602612613% {
    content: "​About";
    content: "​About"/"About Me";
    alt: "About Me";
  }
  11.2612612613%, 13.5125135135% {
    content: "​About ";
    content: "​About "/"About Me";
    alt: "About Me";
  }
  13.5135135135%, 15.7647657658% {
    content: "​About M";
    content: "​About M"/"About Me";
    alt: "About Me";
  }
  15.7657657658%, 64.8638648649% {
    content: "​About Me";
    content: "​About Me"/"About Me";
    alt: "About Me";
  }
  64.8648648649%, 66.6656666667% {
    content: "​About M";
    content: "​About M"/"About Me";
    alt: "About Me";
  }
  66.6666666667%, 68.4674684685% {
    content: "​About ";
    content: "​About "/"About Me";
    alt: "About Me";
  }
  68.4684684685%, 70.2692702703% {
    content: "​About";
    content: "​About"/"About Me";
    alt: "About Me";
  }
  70.2702702703%, 72.0710720721% {
    content: "​Abou";
    content: "​Abou"/"About Me";
    alt: "About Me";
  }
  72.0720720721%, 73.8728738739% {
    content: "​Abo";
    content: "​Abo"/"About Me";
    alt: "About Me";
  }
  73.8738738739%, 75.6746756757% {
    content: "​Ab";
    content: "​Ab"/"About Me";
    alt: "About Me";
  }
  75.6756756757%, 77.4764774775% {
    content: "​A";
    content: "​A"/"About Me";
    alt: "About Me";
  }
  77.4774774775%, 100% {
    content: "​";
    content: "​"/"About Me";
    alt: "About Me";
  }
}
.ui-column .portfolio.typing::before {
  content: "​";
  content: "​"/"Portfolio";
  alt: "Portfolio";
  white-space: break-spaces;
  will-change: content;
  animation: typed-1 4.62s linear 1s 0 forwards, typed-1-final 0.9s linear 1s 1 forwards;
}
@keyframes typed-1-final {
  0%, 11.1111111111% {
    content: "​P";
    content: "​P"/"Portfolio";
    alt: "Portfolio";
  }
  11.1121111111%, 22.2222222222% {
    content: "​Po";
    content: "​Po"/"Portfolio";
    alt: "Portfolio";
  }
  22.2232222222%, 33.3333333333% {
    content: "​Por";
    content: "​Por"/"Portfolio";
    alt: "Portfolio";
  }
  33.3343333333%, 44.4444444444% {
    content: "​Port";
    content: "​Port"/"Portfolio";
    alt: "Portfolio";
  }
  44.4454444444%, 55.5555555556% {
    content: "​Portf";
    content: "​Portf"/"Portfolio";
    alt: "Portfolio";
  }
  55.5565555556%, 66.6666666667% {
    content: "​Portfo";
    content: "​Portfo"/"Portfolio";
    alt: "Portfolio";
  }
  66.6676666667%, 77.7777777778% {
    content: "​Portfol";
    content: "​Portfol"/"Portfolio";
    alt: "Portfolio";
  }
  77.7787777778%, 88.8888888889% {
    content: "​Portfoli";
    content: "​Portfoli"/"Portfolio";
    alt: "Portfolio";
  }
  88.8898888889%, 100% {
    content: "​Portfolio";
    content: "​Portfolio"/"Portfolio";
    alt: "Portfolio";
  }
}
@keyframes typed-1 {
  0%, 2.1635021645% {
    content: "​P";
    content: "​P"/"Portfolio";
    alt: "Portfolio";
  }
  2.1645021645%, 4.328004329% {
    content: "​Po";
    content: "​Po"/"Portfolio";
    alt: "Portfolio";
  }
  4.329004329%, 6.4925064935% {
    content: "​Por";
    content: "​Por"/"Portfolio";
    alt: "Portfolio";
  }
  6.4935064935%, 8.657008658% {
    content: "​Port";
    content: "​Port"/"Portfolio";
    alt: "Portfolio";
  }
  8.658008658%, 10.8215108225% {
    content: "​Portf";
    content: "​Portf"/"Portfolio";
    alt: "Portfolio";
  }
  10.8225108225%, 12.986012987% {
    content: "​Portfo";
    content: "​Portfo"/"Portfolio";
    alt: "Portfolio";
  }
  12.987012987%, 15.1505151515% {
    content: "​Portfol";
    content: "​Portfol"/"Portfolio";
    alt: "Portfolio";
  }
  15.1515151515%, 17.315017316% {
    content: "​Portfoli";
    content: "​Portfoli"/"Portfolio";
    alt: "Portfolio";
  }
  17.316017316%, 64.5011645022% {
    content: "​Portfolio";
    content: "​Portfolio"/"Portfolio";
    alt: "Portfolio";
  }
  64.5021645022%, 66.2327662338% {
    content: "​Portfoli";
    content: "​Portfoli"/"Portfolio";
    alt: "Portfolio";
  }
  66.2337662338%, 67.9643679654% {
    content: "​Portfol";
    content: "​Portfol"/"Portfolio";
    alt: "Portfolio";
  }
  67.9653679654%, 69.695969697% {
    content: "​Portfo";
    content: "​Portfo"/"Portfolio";
    alt: "Portfolio";
  }
  69.696969697%, 71.4275714286% {
    content: "​Portf";
    content: "​Portf"/"Portfolio";
    alt: "Portfolio";
  }
  71.4285714286%, 73.1591731602% {
    content: "​Port";
    content: "​Port"/"Portfolio";
    alt: "Portfolio";
  }
  73.1601731602%, 74.8907748918% {
    content: "​Por";
    content: "​Por"/"Portfolio";
    alt: "Portfolio";
  }
  74.8917748918%, 76.6223766234% {
    content: "​Po";
    content: "​Po"/"Portfolio";
    alt: "Portfolio";
  }
  76.6233766234%, 78.353978355% {
    content: "​P";
    content: "​P"/"Portfolio";
    alt: "Portfolio";
  }
  78.354978355%, 100% {
    content: "​";
    content: "​"/"Portfolio";
    alt: "Portfolio";
  }
}
.ui-column .highlighted {
  background-color: var(--retro-green);
  color: black;
}
.ui-column .home.typing::before {
  content: "​";
  content: "​"/"Home";
  alt: "Home";
  white-space: break-spaces;
  will-change: content;
  animation: typed-2 3.72s linear 1s 0 forwards, typed-2-final 0.4s linear 1s 1 forwards;
}
@keyframes typed-2-final {
  0%, 25% {
    content: "​H";
    content: "​H"/"Home";
    alt: "Home";
  }
  25.001%, 50% {
    content: "​Ho";
    content: "​Ho"/"Home";
    alt: "Home";
  }
  50.001%, 75% {
    content: "​Hom";
    content: "​Hom"/"Home";
    alt: "Home";
  }
  75.001%, 100% {
    content: "​Home";
    content: "​Home"/"Home";
    alt: "Home";
  }
}
@keyframes typed-2 {
  0%, 2.687172043% {
    content: "​H";
    content: "​H"/"Home";
    alt: "Home";
  }
  2.688172043%, 5.375344086% {
    content: "​Ho";
    content: "​Ho"/"Home";
    alt: "Home";
  }
  5.376344086%, 8.063516129% {
    content: "​Hom";
    content: "​Hom"/"Home";
    alt: "Home";
  }
  8.064516129%, 66.6656666667% {
    content: "​Home";
    content: "​Home"/"Home";
    alt: "Home";
  }
  66.6666666667%, 68.8162043011% {
    content: "​Hom";
    content: "​Hom"/"Home";
    alt: "Home";
  }
  68.8172043011%, 70.9667419355% {
    content: "​Ho";
    content: "​Ho"/"Home";
    alt: "Home";
  }
  70.9677419355%, 73.1172795699% {
    content: "​H";
    content: "​H"/"Home";
    alt: "Home";
  }
  73.1182795699%, 100% {
    content: "​";
    content: "​"/"Home";
    alt: "Home";
  }
}

.display-column {
  flex-basis: 75%;
  border-left: 1px solid var(--retro-green);
  overflow: hidden;
  height: 100vh;
}
.display-column .bio-row {
  display: flex;
}
.display-column .bio-row h1 {
  text-align: center;
  margin: 0px;
}
.display-column .bio-row img {
  height: 10em;
  border: 5px solid var(--retro-green);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  float: left;
}
.display-column .education-row {
  border: 1px solid green;
  display: flex;
}
.display-column .education-row:nth-child(2) {
  display: flex;
  justify-content: space-around;
  color: red;
  text-align: center;
}
.display-column .education-row:nth-child(2) img {
  height: 200px;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes reveal {
  0% {
    height: 0vh;
  }
  100% {
    height: 100vh;
  }
}/*# sourceMappingURL=dos.css.map */